* {
    margin: 0;
    padding: 0;
    font-family: Red Hat Display;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #855FB1;
}

.container {
    background-color: #FFFFFF;
}

.middle-text {
    display: none;
}

.first-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 119px;
    height: 28px;
    margin: 24px 0 50px;
}

.images-heroes {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.img1 {
    clip-path: inset(0 0 0 3.5vw);
    margin-left: -3.5vw;
    width: 50vw;
}

.img2 {
    clip-path: inset(0 3.5vw 0 0);
    margin-right: -3.5vw;
    width: 50vw;
}


.head-text {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: center;
    width: 55vw;
    margin: 20px 0;
}

.text,
.text-2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #87879d;
    margin-bottom: 30px;
    width: 90vw;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 193px;
}

.download-btn {
    width: 193px;
    height: 58px;
    background: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 32px;
    border-style: none;
    text-align: center;
    cursor: pointer;
}

.download-btn span {
    color: #8FE3F9;
    margin-left: 5px;
}
.download-btn:hover{
    background-color: #71C0D4;
}

.what-is-it-btn {
    width: 139px;
    height: 58px;
    background: #855FB1;
    color: #FFFFFF;
    border-radius: 32px;
    border-style: none;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 70px;
    cursor: pointer;
}
.what-is-it-btn:hover{
    background-color: #B18BDD;
}

.o1,
.o2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.o1>h1,
.o2>h1 {
    font-size: 16px;
    font-weight: 900;
    margin: -40px;
    color: #87879D;
}

.circle {
    border-style: solid;
    border-color: #87879D40;
    background-color: #FAFAFA;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #87879D;
    border-width: 1px;
}

.line {
    height: 84px;
    border-left-color: #87879D40;
    border-left-style: solid;
    border-width: 1px;
}

.galery {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    justify-content: space-between;
    
}

.galery img {
    width: 35vw;
    border-radius: 10px;
    margin-bottom: 30px;
}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-part>h2 {
    color: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    margin: 40px 0 20px;
}

.second-part>h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    /* width: 327px; */
    margin-bottom: 20px;
}

.footer-2 {
    background-image: linear-gradient(#5395a5c8, #5395a5ae), url(./assets/desktop/image-footer.jpg);
    display: flex;
    background-position:top;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    background-size: cover;
}

.o2 {
    margin: 70px 0 30px;
}

.footer-2 > h1 {
margin-top: 40px;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
}

.text-2 {
    color: #FFFFFF
}

.download-btn2 {
    background: #855FB1;
    width: 193px;
    height: 58px;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 32px;
    border-style: none;
    cursor: pointer;
}

.download-btn2:hover{
    background-color: #B18BDD;
}

.download-btn2 span {
    color: #D9B8FF;
    padding-left: 10px;
}

@media(min-width:768px) {
    .images-heroes img {
        width: 394px;
        height: 303px
    }

    .head-text {
        font-size: 48px;
    }

    .buttons {
        flex-direction: row;
        width: 348px;
        height: 58px;
        align-items: normal;
        justify-content: baseline;
    }

    .download-btn {
        width: 193px;
        height: 58px;
        margin-right: 10px;
    }
    
    .first-part {
        margin-bottom: 70px;
    }

    .galery {
        width: 90vw;
        grid-template-columns: repeat(4, 20vw);
        justify-content: space-around;
    }

    .galery>img {
        width: 20vw;
    }

    .second-part>h1 {
        font-size: 40px;
        line-height: 44px;
        width: 55vw;
    }
    .head-text{
        margin: 50px 0 30px;
    }
    .text{
        width: 75vw;
    }

    .footer-2>h1 {
        font-size: 40px;
        line-height: 44px;
        width: 60vw;
        margin: 70px 0 30px;
    }

    .download-btn2 {
        margin-bottom: 50px;
    }
}

@media(min-width:1440px) {
    .logo{
        margin-top: 100px;
    }

    .middle-text {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .middle-text > .head-text, .middle-text > p{
        width: 33vw;
    }
    .first-part>.head-text,
    .first-part>.text,
    .first-part>.buttons {
        display: none;
    }

    .second-part {
        justify-content: center;
        align-items: center;
    }

    .second-part > h1{
        width: 30vw;
    }
    .second-part > p{
        width: 35vw;
    }
    .galery>img {
        width: 20vw;
    }

    .footer-2 {
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .footer-2 > h1,
    .text-2,
    .download-btn2 {
        margin: 80px 0;
    }

    .text-2 {
        text-align: start;
        width: 20vw;
    }

    .footer-2>h1 {
        text-align: start;
        width: 25vw;
    }
}


/* I think there is heroes images problem..